.list{
    color: #fff;
    width: 300px;
    background-color: rgb(174, 177, 182);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;

}
.list p{
    padding: 10px;
    position: relative;
    /* text-align: center; */
}
 .countClick button{
position: absolute;
right: 10px;
height: 20x;
  width: 60px;
  border-radius: 5px;
  background-color: rgb(210, 193, 226);
  cursor: pointer;
  font-weight: bolder;
  color: white;
 }